@import '../../../scss/_FontFace';
@import '../../../scss/color';

.master-films-menu {
    width: 100%;
    height: 5rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: $bodyColor;
    display: flex;
    align-items: center;
    justify-items: center;
    ul {
        width: 60%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 3rem;
        margin: 0 auto;
        > li {
            width: 15%;
            height: 100%;
            transition: .5s;
            margin: 0 .5rem;
            > a {
                font-size: 1.25rem;
                font-weight: bold;
                font-family: ABeeZee;
                display: block;
                color: $text_color;
            }
        }
        >li:hover {
            background-color: $color3;
            border-radius: 2rem;
        }
        >li:hover a {
            color:$color5;
        }
        .active {
            a {
                color:$color5;
            }
        }
    }
}
